@font-face {
    font-family: "txbzt";
    src: url("腾讯标准体.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "w3";
    src: url("腾讯体w3.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    background: #ffffff;
    font-size: 14px;
}

div {
    text-align: center;
}

.bt {
    width: 60%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 22px;
    text-align: left;
    float: left;
}

.haoyou {
    background: #ffffff;
    margin: auto;
    margin-top: 2px;
    width: 80%;
    height: 50px;
    /* display: flex; */
}

.item {
    background: #ffffff;
    margin: auto;
    margin-top: 8px;
    width: 80%;
    height: 70px;
    display: flex;
}

.img_online {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 15px;
    float: left;
    border-radius: 50px;
}

.img_no_online {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 15px;
    float: left;
    border-radius: 50px;
    filter: grayscale(100%);
}

.des {
    float: left;
    margin-left: 15px;
    margin-top: 3px;
    text-align: left;
}

.name {
    font-family: "txbzt";
    float: top;
    font-size: 32px;
    text-align: left;
}

.sign {
    font-family: "w3";
    float: top;
    font-size: 23px;
    margin-top: -5px;
    text-align: left;
}

.jw {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    float: bottom;
}