@font-face {
    font-family: "txbzt";
    src: url("q_name.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    background: #ffffff;
    font-size: 14px;
}

div {
    text-align: center;
}

.bt {
    width: 60%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    text-align: left;
    float: left;
}

.haoyou {
    background: #ffffff;
    margin: auto;
    margin-top: 2px;
    width: 80%;
    height: 50px;
    /* display: flex; */
}

.item {
    background: #ffffff;
    margin: auto;
    margin-top: 2px;
    width: 80%;
    height: 70px;
    display: flex;
}

.item img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-top: 3px;
    float: left;
    border-radius: 50px;
}

.name {
    font-family: "txbzt";
    float: top;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 32px;
    text-align: left;
}

.jw {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    float: bottom;
}